<form method="post" name="NewPoll">
    <input type="hidden" name="Poll" value="new_poll">
    <label for="Q">Poll Question:</label><br>
    <input type="text" name="Q"><br>
    <label for="A">Option A:</label><br>
    <input type="text" name="A"><br>
    <label for="B">Option B:</label><br>
    <input type="text" name="B"><br>
    <label for="C">Option C:</label><br>
    <input type="text" name="C"><br>
    <label for="D">Option D:</label><br>
    <input type="text" name="D"><br>
    <input type="submit" value="Post Form">
</form>