<form method="post" name="NewPoll">
    <input type="hidden" name="Poll" value="new_poll">
    <label for="Q">
        Poll Question:
        <input type="text" name="Q">
    </label><br>
    <label for="A">
        Option A:
        <input type="text" name="A">
    </label><br>
    <label for="B">
        Option B:
        <input type="text" name="B">
    </label><br>
    <label for="C">
        Option C:
        <input type="text" name="C">
    </label><br>
    <label for="D">
        Option D:
        <input type="text" name="D">
    </label><br>
    <input type="submit" value="Post Form">
</form>