header{
    font-weight: bold;
}

body {
    color: #ebebeb;
    background-color: slategray;
    font-family: Arial, serif;
}

.page{
    background-color: #7e969a;
    color: white;
    align-content: center;
    margin-top: 5%;
    padding-top: 25px;
    margin-left: 25%;
    padding-left: 25px;
    margin-right: 25%;
    padding-right: 25px;
    padding-bottom: 25px;

    border: solid;
    border-color: white;
}

.piechart{
    background-color: #7e969a;
    color: white;

    border: solid;
    border-color: white;
}
