{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="page">
    <p>Welcome to Polling together!</p>
    <p>To create a poll:</p>
    <ol>
        <li>Click 'Create New Room'</li>
        <li>Share room id <b>(before creating a form)</b></li>
        <li>Create a poll and post the form!</li>
    </ol>
    <p>To answer someone else's poll</p>
    <ol>
        <li>Click 'Join Existing Room'</li>
        <li>Enter the room id you were given</li>
        <li>Wait for the form to be posted</li>
        <li>Select your answer and see the results!</li>
    </ol>

    <p></p>

    <form method="POST">
        <p>Would you like to:</p>

        <p>
            <button onclick="createRoom()">Create New Room</button>
        </p>
        <p><button type="submit" value="Join Existing Room" formaction="/joinRoom/">Join Existing Room</button></p>
    </form>
   </div>


    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Websocket connected!');
        })
        socket.on('redirect', function (destination) {
            window.location.href = destination['url'];
        });

        function createRoom() {
            console.log('Creating room...');
            let rID = randomCode();
            socket.emit('create', {'room_id': rID})
        }

        function randomCode() {
            let result = '';
            let inUseKeys = [];
            {% for room in openRooms %}
                inUseKeys.push('{{ room.name }}');
            {% endfor %}
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            for (let i = 0; i < 4; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            if (result in inUseKeys) {
                return randomCode();
            }
            return result;
        }
    </script>
{% endblock %}


