{% extends "base.html" %}

{% block title %}Join A Room {% endblock %}

{% block content %}
    <form method="POST">
        <p>Room ID:</p>
        <p><input type="text" id="roomName" name="roomName"/></p>
        <p><input type="submit" value="Join Room"></p>
    </form>

    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Websocket connected!')
        })
        var form = $('form').submit(function() {
            let room_id = $('#roomName').val()
            socket.emit('join', {id : room_id})
        })

    </script>
{% endblock %}
